<div ng-controller="NewContactController">
    <form name="ContactForm" ng-submit="submitForm()" novalidate>
        <h2 >New Contact</h2>
        <!-- FIRSTNAME -->
        <div class="form-group" ng-class="{ 'has-error' : ContactForm.firstname.$invalid && !ContactForm.firstname.$pristine }">
            <label>First Name</label>
            <input type="text" name="firstname" class="form-control" ng-model="data.firstName" ng-minlength="3" ng-maxlength="70" required>
            <p ng-show="ContactForm.firstname.$error.minlength" class="help-block">Firstname is too short.</p>
            <p ng-show="ContactForm.firstname.$error.maxlength" class="help-block">Firstname is too long.</p>
        </div>

        <!-- LASTNAME -->
        <div class="form-group" ng-class="{ 'has-error' : ContactForm.lastname.$invalid && !ContactForm.lastname.$pristine }">
            <label>Last Name</label>
            <input type="text" name="lastname" class="form-control" ng-model="data.lastName" ng-minlength="3" ng-maxlength="70" required>
            <p ng-show="ContactForm.lastname.$error.minlength" class="help-block">Lastname is too short.</p>
            <p ng-show="ContactForm.lastname.$error.maxlength" class="help-block">Lastname is too long.</p>
        </div>

        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error' : ContactForm.input.$invalid && !ContactForm.input.$pristine }">
            <label>Email</label>
            <input type="email" name="input" class="form-control" ng-model="data.email" required>
            <span class="error help-block" ng-show="ContactForm.input.$error.email">
                Not valid email!
            </span>
        </div>

        <!-- Phones -->
        <div class="form-group" ng-class="{ 'has-error' : ContactForm.phonenum.$invalid && !ContactForm.phonenum.$pristine }">
          

            <!--<div telephone ng-Model="telephoneNumber" class="form-group"></div>-->
            <div class="phone-input ">
                <div class="input-group">
                    <input type="text" class="form-control" phone-input ng-model="tmpPhone" placeholder="Add phone number">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary btn-success" type="button" ng-click="addPhoneNumber()" ng-disabled="ContactForm.phonenum.$invalid"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><label>Phones</label></div>
                        <div class="panel-body">
                            <p ng-show="data.phoneNumber.length==0">No Phones</p>
                            <table class="table table-hover" ng-if="data.phoneNumber.length>0">
                                <tr ng-repeat="phoneNumber in data.phoneNumber" ng-model="data.phoneNumber">
                                    <td class="col col-lg-8">{{phoneNumber.phoneNum}}</td>
                                    <td class="col col-lg-2"><a data-ng-click="Delnum(phoneNumber.phoneNumberId)" class="glyphicon glyphicon-remove-circle"></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <p ng-show="phoneNumber.length" class="help-block">Lastname is too short.</p>
            </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="ContactForm.$invalid  ">Submit</button>
        </div>
    </form>
</div>