<div class="phone-input">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="tmpPhone" placeholder="Enter phone ">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" ng-click="addPhoneNumber()" ng-disabled="ContactForm.phonenum.$invalid">+</button>
        </span>
    </div>
</div>
    <!--<label>Number:</label>
    <input ui-mask="(999) 999-9999" type="text" ng-model="telNumb" />
    <input ui-mask="x9999" type="text" ng-model="telExt" />
    <hr />
    <h1>Phone Number: {{telNumb |tel}} Ext:{{telExt}}</h1>-->
